In [4]:
import pandas as pd
import os
import numpy as np
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from matplotlib import pyplot as plt


from google.colab import drive
drive.mount('/content/drive')
%cd "/content/drive/My Drive/Data Science Project/data"
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")
data_bids = pd.read_csv("bids.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Data Science Project/data

In [0]:
##data_bids = data_bids.replace({' ': ''}, regex = True)

In [7]:
data_bids

          bid_id  ...              url
0              0  ...  vasstdc27m7nks3
1              1  ...  jmqlhflrzwuay9c
2              2  ...  vasstdc27m7nks3
3              3  ...  vasstdc27m7nks3
4              4  ...  vasstdc27m7nks3
...          ...  ...              ...
7656329  7656329  ...  cghhmomsaxi6pug
7656330  7656330  ...  wgggpdg2gx5pesn
7656331  7656331  ...  5xgysg14grlersa
7656332  7656332  ...  bhtrek44bzi2wfl
7656333  7656333  ...  vasstdc27m7nks3

[7656334 rows x 9 columns]

In [0]:
data_bids_sorted = data_bids.sort_values(by=['bidder_id', 'time'], ascending = [True, True]) ##sorting the data by the bidder_id and time

In [0]:
bids = pd.DataFrame(data = data_bids_sorted['bidder_id'].unique(), columns = ['bidder_id'], index = data_bids_sorted['bidder_id'].unique())
## new dataframe for all info of each bidder_id

In [0]:
counts = data_bids_sorted["bidder_id"].value_counts()
bids['auction_count_num'] = counts

In [0]:
timediff = data_bids_sorted.groupby('bidder_id')['time'].diff()
timediff_str = timediff.astype(str).fillna('')
data_bids_sorted['timediff_num'] = timediff
data_bids_sorted['timediff'] = timediff_str

          bid_id  ...       timediff
7179832  7179832  ...            nan
1281292  1281292  ...            nan
1281311  1281311  ...    105263158.0
6805028  6805028  ...            nan
3967330  3967330  ...            nan
...          ...  ...            ...
2336021  2336021  ...   5631578948.0
2337626  2337626  ...   8473684210.0
2344645  2344645  ...  38631578947.0
2350507  2350507  ...  31578947369.0
6989098  6989098  ...            nan

[7656334 rows x 11 columns]